@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800');

:root {
  --color-primary: #F0ECE5;
  --color-secondary: #31304D;
  --color-dark: #161A30;
  --color-ashes: #B6BBC4;
  --font-primary: 'Poppins', sans-serif;
}

* {
  font-family: var(--font-primary);
}

/* Global use Start */
.subtle-bg-primary {
  background-color: var(--color-primary);
}

.subtle-bg-secondary {
  background-color: var(--color-secondary);
}

.bg-ashes {
  background-color: var(--color-ashes);
}

.table-secondary {
  --bs-table-bg: var(--color-secondary);
  --bs-table-striped-bg: var(--color-dark);
}

.table thead tr th {
  background-color: #212529;
}

tbody {
  border-top: 3px solid #fff;
}

.icon {
  fill: #fff;
}

.icon-update:hover {
  fill: #FF9800;
}

.icon-delete:hover {
  fill: #BF3131;
}
/* Global use End */


/* Home Start */
.card {
  border-radius: 20px;
  background-color: var(--color-ashes);
  border: 0;
}

.w-card {
  width: 18rem;
}

.subtle-btn-secondary {
  background-color: var(--color-secondary);
}

.subtle-btn-secondary:hover {
  background-color: var(--color-dark);
}

.subtle-btn-secondary:active {
  background-color: var(--color-secondary) !important;
  border: 1px solid var(--color-secondary) !important;
}
/* Home End */


/* Course Start */
.btn-ashes {
  background-color: var(--color-ashes);
}

.btn-ashes:hover {
  background-color: #f0ece5de;
}

.btn-ashes:active {
  background-color: var(--color-ashes) !important;
  border: 1px solid var(--color-ashes) !important;
}

.subtle-btn-dark {
  background-color: var(--color-dark);
}

.subtle-btn-dark:hover {
  background-color: #212529;
}

.subtle-btn-dark:active {
  background-color: var(--color-dark) !important;
  border: 1px solid var(--color-dark) !important;
}
/* Course End */


@media (min-width: 576px) {
  .w-card {
    width: 13rem;
  }
}

@media (min-width: 992px) {
  .w-card {
    width: 18rem;
  }
}

@media (min-width: 1200px) {
  .w-card {
    width: 22rem;
  }
}